.left-splash {
  display: flex;
  align-items: flex-start; // Align items at the start (top) of the flex container
  margin-bottom: 2em;
}

.left-splash img {
  box-shadow: none !important;
}

  .image {
    flex: 0 0 auto; // Image takes its natural width
    margin-right: 2em; // Space between the image and the paragraph
    img {
      max-width: 100%; // Ensure the image doesn't exceed its container's width
      height: auto;
      float: left; // Float the image to the left
      shape-outside: circle(); // Example of shape-outside usage for non-rectangular wrapping
      margin-right: 1em; // Space between image and text, adjust as needed
    }
  }

  .content {
    flex: 1; // Paragraph takes up the remaining space
    p {
      margin: 0; // Remove default margin for paragraphs
      line-height: 1.6;
      font-size: 1em;
      color: #333; // Dark gray color for text
    }
  }
}
